{% extends 'base.html' %}

{% block site %}<li class="active"><a href="{{ request.path }}">Disks</a></li>{% endblock %}


{% block con %}

                
    <div class="row" >
                <div class="row" id="app">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Disks Table</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12" >
                                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                                aria-describedby="example2_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                            rowspan="1" colspan="1" aria-sort="ascending"
                                                            aria-label="Rendering engine: activate to sort column descending">
                                                            插槽号</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                            colspan="1" aria-label="Browser: activate to sort column ascending">
                                                            强制磁盘容量</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                            colspan="1"
                                                            aria-label="Platform(s): activate to sort column ascending">
                                                            接口类型</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                            colspan="1"
                                                            aria-label="Engine version: activate to sort column ascending">
                                                            原始磁盘容量</th>
                                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                            colspan="1"
                                                            aria-label="CSS grade: activate to sort column ascending">
                                                            服务器</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for disk in diskList %}
                                                    <tr class="action">
                                                        <td>{{ disk.slot }}</td>
                                                        <td>{{ disk.coreced }}</td>
                                                        <td>{{ disk.pd }}</td>
                                                        <td>{{ disk.raw }}</td>
                                                        <td>{{ disk.server.host_name }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block script %}

{% endblock %}
